
h1{
  margin-left: 100px
}
table{

  margin: 50px
}

th {
background: brown;
color: white ;
padding: 5px
}
td{
 
  padding: 5px
}
input{
  height: 40px;
  width: 300px;
}
button{
  height: 40px;
  width : 50px;
  background: lightseagreen;
  color: white ;
}